<div class="bck">
    <div class="recl">
     
        
    <img src="../../assets/img/Rectangle 1.png" alt="" height="100%" width="100%">

        <div class="chero">
        <h1> User Experience </h1>
        <h4>It’s all about thinking and felling</h4>
    </div>
        
</div>

    

    <!-- <div class="rounds">
        <div class="ec1">  
    <img src="../../assets/img/e1.png" alt="" height="100%" width="40%">
    </div>
    <div class="ec2">
    <img src="../../assets/img/e2.png" alt="" height="100%" width="100%">
    </div>

    <div class="ec3">
        <img src="../../assets/img/e3.png" alt="" height="100%" width="80%">
        </div>
    
    </div> -->
    
    
</div>